<br>
<div class="container">
  <div class="row">

    <div class="col-lg-12 centralizar topo">
      <div class="card">
        <div class="card-body">
          <h3>Cadastro de carro</h3>
          <mdb-form-control>
            <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="carro.nome"/>
            <label mdbLabel class="form-label" for="usuario">Nome</label>
          </mdb-form-control>
          <br/>

          <div>
            @if (carro.marca == null || carro.marca.id === 0) {
              <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="buscarMarcas()">
                Buscar Marca
              </button>
            } @else {
              <button type="button" class="btn btn-warning btn-rounded" mdbRipple (click)="buscarMarcas()">
                Trocar Marca
              </button>
              <div class="teste">
                {{ carro.marca.nome }}
              </div>
            }
          </div>
          <br>

          <div>

            <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="buscarProprietarios()">
              Buscar Proprietario
            </button>
            <br/>

            <table border="1" class="table table-striped">

              <thead>

              <tr>

                <th>ID</th>

                <th>Nome</th>

                <th>Proprietarios</th>

              </tr>

              </thead>

              <tbody>

                @for (proprietario of carro.proprietarios; track $index) {

                  <tr>

                    <td>{{ proprietario.id }}</td>

                    <td>{{ proprietario.nome }}</td>

                    <td class="direita">

                      <button type="button" class="btn btn-danger btn-rounded" mdbRipple

                              (click)="desvincularProprietariodoCarro(proprietario)">

                        Deletar

                      </button>


                    </td>

                  </tr>

                }

              </tbody>


            </table>


          </div>


          <br>


          <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="save()">Salvar</button>

        </div>

      </div>


    </div>

  </div>

</div>


<ng-template #modalMarcas>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Marcas</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">

    <app-marcaslist [esconderBotoes]="true" (retorno)="retornoMarca($event)"></app-marcaslist>

  </div>

</ng-template>

<ng-template #modalProprietarios>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleProprietarioLabel">Proprietarios</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">

    <app-proprietarioslist [esconderBotoes]="true" (retorno)="retornoProprietario($event)"></app-proprietarioslist>

  </div>

</ng-template>







