@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

.centralizar{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.direita{
  text-align: right;
}

body{
  background-color: #575555;
}


