<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3> Listagem de Proprietarios</h3>
          <div class="direita">
            <button type="button" class="btn btn-warning btn-rounded" mdbRipple (click)="new()">
              Novo
            </button>
            <!--
          <button type="button" class="btn btn-warning btn-rounded" mdbRipple routerLink="/admin/proprietarios/new">
            Novo</button>
            -->
          </div>
          <br>
          <table border="1" class="table table-striped">
            <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Ações</th>
            </tr>
            </thead>
            <tbody>
              @for (proprietario of lista; track $index) {
                <tr>
                  <td>{{ proprietario.id }}</td>
                  <td>{{ proprietario.nome }}</td>
                  <td class="direita">
                    @if (esconderBotoes){
                      <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="select(proprietario)">
                        <i class="material-icons">edit</i>
                      </button>
                    } @else {
                      <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="edit(proprietario)">
                        <i class="material-icons">edit</i>
                      </button>

                      <button type="button" class="btn btn-danger btn-rounded" mdbRipple (click)="deleteById(proprietario)">
                        <i class="material-icons">delete</i>
                      </button>
                    }

                  </td>
                </tr>
              }
            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalProprietarioDetalhe>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-proprietariosdetails [proprietario]="proprietarioEdit" (retorno)="retornoDetalhe($event)"></app-proprietariosdetails>

  </div>

</ng-template>
